# https://github.com/golang/go/issues/40364#issuecomment-663092806
alias go-list-direct-deps-updates="go list -f '{{if not .Indirect}}{{.}}{{end}}' -u -m all"
# alias ls="exa --icons -lh"
# alias cat='batcat --paging=never'
# alias grep='rg'
alias df='duf'
# alias find='fdfind'
alias ipv6='curl -6 icanhazip.com'
alias ipv4='curl -4 icanhazip.com'
